body {
    margin: 0;
    padding: 0;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  
  #layers {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
  }
  
  #layers a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  #layers a:last-child {
    border: none;
  }
  
  #layers a:hover {
    background-color: #f8f8f8;
    color: #404040;
  }
  
  #layers a.active {
    background-color: #3887be;
    color: #ffffff;
  }
  
  #layers a.active:hover {
    background: #3074a4;
  }
  
  .calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
  }
  
  p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
  }